
@font-face {
    font-family: arcadeFont;
    src: url('../assets/fonts/arcadeclassic.regular.ttf');
}

body
{
    margin: 0;
    background-color: #000000;
}


#content
{
    margin-left: auto;
    margin-right: auto;
    /*width: 1024px;
    height: 768px;*/

    background-color: #FFFFFF;
}

#overlay {
    visibility: hidden;
    position: absolute;
    /* sets opacity to 0.6 */
    background-color: rgba(0, 0, 0, 0.6);
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
}

#overlay div {
    width:300px;
    margin: 150px auto;
    border-radius: 15px;
    background-color: #808080;
    border:1px solid #000;
    padding:15px;
    text-align:center;
}

#overlay p {
    font-family: arcadeFont;
    color: #ffffff;
    font-size: 32px;
    word-spacing: 10px;
}
